@import '~bootstrap/scss/bootstrap';
html { scroll-behavior: smooth; }
.h1{
    color: #6594e0 !important;/*文字色*/
    /*線の種類（点線）2px 線色*/
    border-bottom: dashed 2px #6594e0;
    padding-bottom: 10px;
}